.main-banner {
  padding: 0 10px;
  height: 80vh;
  margin-bottom: 28px;
}

.main-banner .container .wrapper-for-carousel .block-nub-one {
  border-radius: 32px;
  display: flex;
  background-color: #DCE5E2;
  justify-content: space-between;
  position: relative;
  justify-content: space-between;
}

.main-banner .container .wrapper-for-carousel .block-nub-one .article-main-banner {
  max-width: 588px;
  margin-top: 145px;
  margin-left: 56px;
}

.main-banner .container .wrapper-for-carousel .block-nub-one .article-main-banner h1 {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 19px;
}

.main-banner .container .wrapper-for-carousel .block-nub-one .article-main-banner p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 55px;
}

.main-banner .container .wrapper-for-carousel .block-nub-one .article-main-banner .btn-main-banner {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #000000;
  width: 170px;
  padding: 14px 53px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 200px;
  display: inline-block;
  margin-bottom: 127px;
}

.main-banner .container .wrapper-for-carousel .block-nub-one .banner-iphone-pic {
  max-width: 427px;
  display: flex;
  align-items: flex-end;
  margin-right: 94px;
}

.main-banner .container .wrapper-for-carousel .block-nub-one .banner-iphone-pic img {
  width: 100%;
  display: inline-block;
}

.first-card {
  padding: 75px 10px 0;
  margin-bottom: 70px;
  text-align: center;
}

.first-card h2 {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}

.first-card p {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 55px;
}

.first-card .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.first-card .container .col-3 {
  width: 312px;
  background-color: #FFFFFF;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  padding: 114px 0 0;
}

.first-card .container .col-3 .link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.first-card .container .col-3 > h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.first-card .container .col-3 > p {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-bottom: 42px;
}

.first-card .container .col-2 {
  background-color: #FFFFFF;
  width: 312px;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  padding: 114px 0 0 16px;
}

.first-card .container .col-2 .link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.first-card .container .col-2 h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.first-card .container .col-2 p {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}

.first-card .container .col-2 .iphone-img-card-three {
  max-width: 405px;
  margin-bottom: 42px;
}

.first-card .container .col-2 .iphone-img-card-three .responsive {
  display: none;
}

.first-card .container .col-2 .iphone-img-card-three img {
  width: 100%;
  display: inline-block;
}

.first-card .container .card-num-two {
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  max-width: 639px;
  display: flex;
  justify-content: space-between;
  padding: 0 42px;
  align-items: center;
}

.first-card .container .card-num-two .link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.first-card .container .card-num-two .art-card-two {
  display: inline-block;
}

.first-card .container .card-num-two .art-card-two h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  color: #000000;
}

.first-card .container .card-num-two .art-card-two p {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
}

.first-card .container .card-num-two .watches-img {
  max-width: 381px;
}

.first-card .container .card-num-two .watches-img > img {
  width: 100%;
  display: inline-block;
}

.first-card .container .card-nub-one {
  max-width: 639px;
  background: #FFFFFF;
  padding: 0 42px;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  margin-bottom: 72px;
}

.first-card .container .card-nub-one .link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.first-card .container .card-nub-one .laptopm-img {
  max-width: 639px;
}

.first-card .container .card-nub-one .laptopm-img > img {
  width: 100%;
  display: inline-block;
}

.first-card .container .card-nub-one > h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: right;
  color: #000000;
}

.first-card .container .card-nub-one > p {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
}

.shop-cards {
  padding: 111px 10px 28px;
  margin-bottom: 70px;
}

.shop-cards .container .cards {
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.shop-cards .container .cards .card {
  max-width: 302px;
}

.shop-cards .container .cards .card img {
  margin-bottom: 10px;
}

.shop-cards .container .cards .card .item_name {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 9px;
}

.shop-cards .container .cards .card .description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  margin-bottom: 25px;
}

.shop-cards .container .cards .card .price {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.shop-cards .container .h-shop-cards {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}

.shop-cards .container .description_shop-cards {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  text-align: center;
  margin-bottom: 41px;
}

.offers {
  padding-top: 42px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 28px;
  margin-bottom: 70px;
}

.offers .container .wrapper-for-blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.offers .container .wrapper-for-blocks .block {
  max-width: 413px;
  padding: 41px 71px 0;
  box-sizing: border-box;
  text-align: center;
  background: #F8F9FA;
}

.offers .container .wrapper-for-blocks .block h2 {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

.offers .container .wrapper-for-blocks .block p {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

.offers .container .wrapper-for-blocks .block a {
  padding: 14px 63px;
  border: 1px solid black;
  border-radius: 200px;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  display: inline-block;
  margin-bottom: 30px;
}

.offers .container .h-shop-cards {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}

.offers .container .description_shop-cards {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  text-align: center;
  margin-bottom: 41px;
}

.special-offer {
  padding: 47px 10px 24px 18px;
}

.special-offer .container {
  text-align: center;
}

.special-offer .container .see-all {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #000000;
}

.special-offer .container .see-all::after {
  content: '';
  background-image: url(../images/arrow-after.svg);
  width: 30px;
  height: 28px;
  display: inline-block;
  position: relative;
  top: 4px;
}

.special-offer .container .wrapper-for-content {
  flex-wrap: wrap;
  margin-bottom: 74px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.special-offer .container .wrapper-for-content article {
  max-width: 639px;
  margin-top: 14px;
}

.special-offer .container .wrapper-for-content article p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.special-offer .container .wrapper-for-content article p:not(:last-of-type) {
  margin-bottom: 23px;
}

.special-offer .container .wrapper-for-content .wrapper-for-content__img {
  max-width: 620px;
}

.special-offer .container .wrapper-for-content .wrapper-for-content__img img {
  width: 100%;
  display: inline-block;
}

.special-offer .container h3 {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}

.special-offer .container .description-of-special-offer {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 56px;
}

tml,
body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 992px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

.header-nav {
  padding: 30px 0 30px 18px;
}

.header-nav .container .header-navigation ul {
  display: flex;
  justify-content: space-between;
}

.header-nav .container .header-navigation ul li {
  list-style: none;
}

.header-nav .container .header-navigation ul li:first-of-type {
  margin-right: 15px;
}

.header-nav .container .header-navigation ul li:nth-child(2) {
  margin-left: 15px;
  margin-right: 24px;
}

.header-nav .container .header-navigation ul li:nth-child(2)::after {
  content: '';
  background-image: url(../images/before-pic-new.svg);
  display: inline-block;
  width: 12px;
  height: 8px;
  position: relative;
  top: -1px;
  left: 4px;
}

.header-nav .container .header-navigation ul li:nth-child(3) {
  margin-left: 24px;
  margin-right: 22px;
}

.header-nav .container .header-navigation ul li:nth-child(4) {
  margin-left: 22px;
}

.header-nav .container .header-navigation ul li a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.header-nav .container .right-nav-bar {
  list-style: none;
  display: flex;
}

.header-nav .container .right-nav-bar li:nth-child(2) {
  margin-right: 29px;
}

.header-nav .container .right-nav-bar li:nth-child(1) {
  margin-right: 15px;
}

@media screen and (max-width: 1243px) {
  .main-banner .container .article-main-banner {
    max-width: 500px;
  }
  .main-banner .container .article-main-banner article h1 {
    font-size: 50px;
  }
  .main-banner .container .article-main-banner article p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1244px) {
  .first-card .container {
    flex-direction: column;
    align-items: center;
  }
  .first-card .container .card-nub-one {
    margin-bottom: -35px;
  }
  .first-card .container .col-1 {
    margin-bottom: 20px;
  }
  .first-card .container .col-2 {
    margin-bottom: 20px;
    max-width: 588px;
  }
  .first-card .container .col-2 .iphone-img-card-three {
    display: inline-block;
    max-width: 405px;
    margin-bottom: 42px;
  }
  .first-card .container .col-2 .iphone-img-card-three .non-responsive {
    display: none;
  }
  .first-card .container .col-2 .iphone-img-card-three .responsive {
    display: block;
  }
  .first-card .container .col-2 .iphone-img-card-three img {
    width: 100%;
    display: inline-block;
    background-size: inherit;
  }
}

@media screen and (max-width: 1179px) {
  .main-banner .container .wrapper-for-carousel .block-nub-one {
    display: flex;
  }
  .main-banner .container .wrapper-for-carousel .block-nub-one .banner-iphone-pic {
    align-items: center;
  }
  .main-banner .container .wrapper-for-carousel .block-nub-one .article-main-banner {
    max-width: 400px;
  }
}

@media screen and (max-width: 1108px) {
  .main-banner .container .article-main-banner {
    max-width: 400px;
  }
  .main-banner .container .article-main-banner article h1 {
    font-size: 40px;
    line-height: 59px;
  }
  .main-banner .container .article-main-banner article p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1029px) {
  .main-banner .container .article-main-banner {
    max-width: 400px;
  }
  .main-banner .container .article-main-banner article h1 {
    font-size: 40px;
    line-height: 59px;
  }
  .main-banner .container .article-main-banner article p {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .main-banner .container {
    padding-right: 56px;
    align-items: center;
    height: 80vh;
    flex-wrap: wrap;
    background-color: transparent;
    background-image: url(../images/iphones-background.png);
    background-size: cover;
  }
  .main-banner .container .wrapper-for-carousel {
    display: none;
  }
  .main-banner .container .article-main-banner {
    max-width: 588px;
  }
  .main-banner .container .article-main-banner article h1 {
    color: white;
    font-size: 58px;
  }
  .main-banner .container .article-main-banner article p {
    color: white;
    font-size: 16px;
  }
  .main-banner .container .article-main-banner article .btn-main-banner {
    color: white;
    border: 1px solid white;
  }
  .main-banner .container .banner-iphone-pic {
    display: none;
  }
  .header-nav {
    padding: 15px 18px 15px 15px;
  }
  .header-nav .container .header-navigation ul {
    display: none;
  }
  .header-nav .container .right-nav-bar {
    display: none;
  }
  .header-nav .container .menu-button {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .header-nav .container .menu {
    display: none;
  }
}

@media screen and (max-width: 623px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .cards #card-one {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 849px) {
  .offers .container .wrapper-for-blocks {
    justify-content: center;
  }
  .offers .container .wrapper-for-blocks .block {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1302px) {
  .special-offer .container .wrapper-for-content {
    justify-content: center;
  }
  .special-offer .container .wrapper-for-content .wrapper-for-content__img {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 644px) {
  .shop-cards .container .cards {
    justify-content: center;
  }
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1314px;
  margin: auto;
}

.header {
  margin-bottom: 30px;
  padding: 30px 0 30px 18px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
}

.header nav ul li {
  list-style: none;
}

.header nav ul li:first-of-type {
  margin-right: 15px;
}

.header nav ul li:nth-child(2) {
  margin-left: 15px;
  margin-right: 24px;
}

.header nav ul li:nth-child(2)::after {
  content: '';
  background-image: url(../images/before-pic-new.svg);
  display: inline-block;
  width: 12px;
  height: 8px;
  position: relative;
  top: -1px;
  left: 4px;
}

.header nav ul li:nth-child(3) {
  margin-left: 24px;
  margin-right: 22px;
}

.header nav ul li:nth-child(4) {
  margin-left: 22px;
}

.header nav ul li a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.header .right-nav-bar {
  list-style: none;
  display: flex;
}

.header .right-nav-bar li:nth-child(2) {
  margin-right: 29px;
}

.header .right-nav-bar li:nth-child(1) {
  margin-right: 15px;
}
/*# sourceMappingURL=style.css.map */