.main-banner {

  padding: 0 10px;

  height: 80vh;
  margin-bottom: 28px;



  .container {

    .wrapper-for-carousel {

      .block-nub-one {

        border-radius: 32px;
        display: flex;
        background-color: #DCE5E2;
        justify-content: space-between;
        position: relative;
        justify-content: space-between;

        .article-main-banner {

          max-width: 588px;
          margin-top: 145px;
          margin-left: 56px;

          h1 {
            font-family: 'Readex Pro', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 58px;
            line-height: 70px;
            color: #000000;
            margin-bottom: 19px;
          }

          p {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            margin-bottom: 55px;
          }

          .btn-main-banner {
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-transform: capitalize;
            color: #000000;
            width: 170px;
            padding: 14px 53px;
            box-sizing: border-box;
            border: 1px solid #000000;
            border-radius: 200px;
            display: inline-block;
            margin-bottom: 127px;
          }
        }

        .banner-iphone-pic {
          max-width: 427px;
          display: flex;
          align-items: flex-end;
          margin-right: 94px;

          img {
            width: 100%;
            display: inline-block;
          }
        }
      }
    }
  }
}


// ? first section with card 


.first-card {
  padding: 75px 10px 0;
  margin-bottom: 70px;

  text-align: center;

  h2 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
  }

  p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    margin-bottom: 55px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;





    .col-3 {

      .link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      width: 312px;
      background-color: #FFFFFF;
      filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
      padding: 114px 0 0;

      >h3 {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #000000;
      }

      >p {
        font-family: 'Readex Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        color: #000000;
        margin-bottom: 42px;
      }

    }


    .col-2 {



      .link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      background-color: #FFFFFF;
      width: 312px;
      filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
      padding: 114px 0 0 16px;

      h3 {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        color: #000000;
      }

      p {
        font-family: 'Readex Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        color: #000000;
      }


      .iphone-img-card-three {
        max-width: 405px;
        margin-bottom: 42px;

        .responsive {
          display: none;
        }

        img {

          width: 100%;
          display: inline-block;
        }
      }
    }




    .card-num-two {
      background: #FFFFFF;
      filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
      max-width: 639px;
      display: flex;
      justify-content: space-between;
      padding: 0 42px;

      .link {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }



      align-items: center;


      .art-card-two {

        display: inline-block;

        h3 {
          font-family: 'Inter', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 19px;
          text-align: right;
          color: #000000;
        }

        p {
          font-family: 'Readex Pro', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 32px;
          line-height: 38px;
          text-align: right;
          color: #000000;
        }
      }


      .watches-img {
        max-width: 381px;

        >img {
          width: 100%;
          display: inline-block;
        }
      }
    }



    .card-nub-one {
      max-width: 639px;
      background: #FFFFFF;
      padding: 0 42px;
      filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
      margin-bottom: 72px;

      .link {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }

      .laptopm-img {
        max-width: 639px;

        >img {
          width: 100%;
          display: inline-block;
        }
      }

      >h3 {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        text-align: right;
        color: #000000;
      }

      >p {
        font-family: 'Readex Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        text-align: right;
        color: #000000;
      }
    }


  }
}


// ? section shop cards


.shop-cards {
  padding: 111px 10px 28px;
  margin-bottom: 70px;

  .container {
    .cards {
      flex-wrap: wrap;
      list-style: none;
      display: flex;
      justify-content: space-between;

      .card {
        max-width: 302px;

        img {
          margin-bottom: 10px;
        }

        .item_name {
          font-family: 'Readex Pro', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 28px;
          color: #000000;
          margin-bottom: 9px;
        }

        .description {
          font-family: 'Inter', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #4B4B4B;
          margin-bottom: 25px;
        }

        .price {
          font-family: 'Inter', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: #000000;
        }

      }
    }

    .h-shop-cards {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      color: #000000;
      margin-bottom: 9px;
    }

    .description_shop-cards {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      color: #000000;
      text-align: center;
      margin-bottom: 41px;
    }
  }
}

// ? section offer


.offers {
  padding-top: 42px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 28px;
  margin-bottom: 70px;

  .container {

    .wrapper-for-blocks {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .block {

        max-width: 413px;
        padding: 41px 71px 0;
        box-sizing: border-box;
        text-align: center;
        background: #F8F9FA;

        h2 {
          font-family: 'Readex Pro', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 17px;
          text-align: center;
          color: #000000;
        }

        p {
          font-family: 'Readex Pro', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 28px;
          line-height: 35px;
          text-align: center;
          color: #000000;
          margin-bottom: 30px;
        }

        a {
          padding: 14px 63px;
          border: 1px solid black;
          border-radius: 200px;
          text-decoration: none;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          text-transform: capitalize;
          color: #000000;
          display: inline-block;
          margin-bottom: 30px;


        }
      }
    }


    .h-shop-cards {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      color: #000000;
      margin-bottom: 9px;
    }

    .description_shop-cards {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      color: #000000;
      text-align: center;
      margin-bottom: 41px;
    }



  }
}

// ? section with picure-and desription

.special-offer {
  padding: 47px 10px 24px 18px;

  .container {
    text-align: center;

    .see-all {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      text-transform: capitalize;
      color: #000000;

      &::after {
        content: '';
        background-image: url(../images/arrow-after.svg);
        width: 30px;
        height: 28px;
        display: inline-block;
        position: relative;
        top: 4px;
      }
    }

    .wrapper-for-content {
      flex-wrap: wrap;
      margin-bottom: 74px;
      text-align: left;
      display: flex;
      justify-content: space-between;

      article {
        max-width: 639px;
        margin-top: 14px;

        p {
          &:not(:last-of-type) {
            margin-bottom: 23px;
          }

          font-family: 'Inter',
          sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 30px;
          color: #000000;
        }
      }

      .wrapper-for-content__img {

        max-width: 620px;

        img {
          width: 100%;
          display: inline-block;
        }
      }
    }

    h3 {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      color: #000000;
    }

    .description-of-special-offer {
      font-family: 'Readex Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      text-align: center;
      color: #000000;
      margin-bottom: 56px;
    }
  }
}

// // ? looking section 
// .looking-section {
//   .container {
//     text-align: center;
//     h3 {
//       font-family: 'Readex Pro',sans-serif;
//       font-style: normal;
//       font-weight: 400;
//       font-size: 42px;
//       line-height: 52px;
//       text-align: center;
//       color: #000000;
//       margin-bottom: 15px;
//     }

    
//     input {
//       padding: 15px 476px 15px 16px;
      
//     }
//   }
// }